/* utilites */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.body{
    font-family: 'Poppins', sans-serif;
}

.navbar-text{
    font-size: 18px;
}

.heading-first-custom-size{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* utilites end */

/* card */

.card-title-color{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 4%;
    font-weight: 500;
    color: rgb(21, 3, 54);
   
}


.border-20{
    border-radius: 20px;
    border: 5px solid rgb(36, 36, 73);
}

a{
    text-decoration: none;
    font-size: 18px;
}



@media only screen and (max-width:576px) {
    
    .heading-first-custom-size{
        font-size: 20px;
    }
  
}


